accelerate
bitsandbytes
certifi
charset-normalizer
contourpy
cycler
filelock
fonttools
fsspec
hf-xet
huggingface-hub
idna
Jinja2
joblib
kiwisolver
loguru
MarkupSafe
matplotlib
mpmath
networkx
numpy
packaging
pandas
peft
pillow
psutil
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
seaborn
setuptools
six
sympy
threadpoolctl
timm
tokenizers
tqdm
transformers
typing_extensions
tzdata
urllib3